.ev-widget-draw-setting .add-with-icon{
  margin-top:8px;
  margin-bottom:3px;
}

.ev-widget-draw-setting .jimu-tab{
  position: static;
}

.ev-widget-draw-setting .jimu-tab>.jimu-viewstack{
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  height: auto;
}

.ev-widget-draw-setting .jimu-viewstack>.view{
  height: auto;
}

.ev-widget-draw-setting .tip{
  color: #596679;
  font-size: 14px;
}

.ev-widget-draw-setting .add-with-icon.jimu-state-disabled{
  color: #ccc;
  cursor: default;
}


.ev-widget-draw-setting .message-section{
	width: 100%; 
	margin-top: 25px; 
	text-align: center; 
}

.ev-widget-draw-setting .message-info{
	font-size: 12px; 
	background-color: #eeeeee;
	color: #444444; 
	font-weight: bolder;
	padding: 5px; 
}

.ev-widget-draw-setting .message-warning{
	font-size: 12px; 
	background-color: yellow; 
	color: #444444; 
	font-weight: bolder;
	padding: 5px; 
}

.ev-widget-draw-setting .message-error{
	font-size: 12px; 
	background-color: red; 
	color: yellow; 
	font-weight: bolder;
	padding: 5px; 
}
