.ev-widget-searchSurvey{
	width: 100%;
	height: 100%;
	min-width: 250px;
	min-height: 192px;
}

.ev-widget-searchSurvey .search-title{
}

.ev-widget-searchSurvey .param-label{
}

.ev-widget-searchSurvey .param-input{
}

.ev-widget-searchSurvey .nav-section{
}

.ev-widget-searchSurvey .nav-btn-cancel{
}

.ev-widget-searchSurvey .nav-btn-end{
}

.ev-widget-searchSurvey .nav-section{
}

.ev-widget-searchSurvey .message-info{
}

.ev-widget-searchSurvey .message-warning{
}

.ev-widget-searchSurvey .message-error{
}

