.jimu-widget-searchTwnship{
	width: 100%;
	height: 100%;
	min-width: 250px;
	min-height: 192px;
}

.jimu-widget-searchTwnship .search-title{
}

.jimu-widget-searchTwnship .param-label{
}

.jimu-widget-searchTwnship .param-input{
}

.jimu-widget-searchTwnship .nav-section{
}

.jimu-widget-searchTwnship .nav-btn-cancel{
}

.jimu-widget-searchTwnship .nav-btn-end{
}

.jimu-widget-searchTwnship .message-info{
}

.jimu-widget-searchTwnship .message-warning{
}

.jimu-widget-searchTwnship .message-error{
}

